@{
    Layout = null;
}

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Case</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("AddCase","Home")" method="post" enctype="multipart/form-data" id="addCaseForm">
                    <label for="Title" class="col-form-label">Title</label>
                    <input type="text" name="Title" placeholder="Title..." class="form-control" required />
                    <label for="StartDate" class="col-form-label">Start Date</label>
                    <input type="date" name="StartDate" placeholder="Start Date..." class="form-control" required />
                    <label for="EndDate" class="col-form-label">End Date</label>
                    <input type="date" name="EndDate" placeholder="End Date..." class="form-control" />
                    <label for="Email" class="col-form-label">Email</label>
                    <input type="email" name="Email" placeholder="Email..." class="form-control" />
                    <label for="Phone" class="col-form-label">Phone</label>
                    <input type="text" name="Phone" placeholder="Phone..." class="form-control" />
                    <label for="Remarks" class="col-form-label">Remarks</label>
                    <input type="text" name="Remarks" placeholder="Remarks..." class="form-control" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#saveChanges").click(function () {
        var valid = $("#addCaseForm")[0].checkValidity();
        console.log(valid);
        if ($("#addCaseForm")[0].checkValidity()) {
            $("#addCaseForm").submit();
        }
    });
</script>